@model IEnumerable<jdean_bugtracker.Models.codeFirst.Project>

@{
    ViewBag.Title = "ProjectAdmin";
}



<p>
    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
        <div>


            <a href=" @Url.Action()" class="btn btn-warning">Create New Project</a>

        </div>
    }

</p>
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projects Admin Index</h4>
                <h6 class="card-subtitle">Viewing All Current Projects</h6>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                   Title
                                </th>
                                
                                <th>
                                    Created By
                                </th>
                                <th>
                                  Assignees
                                </th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       # @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title) <br />
@Html.ActionLink("Details", "Details", new { id = item.Id }) 
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuthorId)
                                    </td>
                                    <td>
                                                                                @foreach (var user in item.Users)
                {
                                                                                    <small> @user.FullName </small><br />
                                        }
                                    </td>
                                    <td>
                                        
                                        
                                        <div class="btn-group-sm">
                                            <a href="@Url.Action("Edit", "Projects", new { id = item.Id})" class="btn btn-sm btn-inverse"><i class="fa fa-edit" aria-label="edit"></i> Edit</a>
                                        
                                           <a href=" @Url.Action("ProjectUser", "Projects", new { id = item.Id })"  class="btn btn-sm btn-inverse"><i class="fa fa-user-plus"></i> Assign</a>
                                        </div>


                                            </td>
                                </tr>
                            }


                            </tbody>
                            </table>
                        </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <!-- This is data table -->
    <script src="~/Assets/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}
